<style>
  .multi-page-image {
    animation: switch-image 10s infinite;
    border: 1px solid black;
  }
  @keyframes switch-image {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
